// Colors //
$accent-color: #ff4500;
$transparent-hover: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$primary-bg-color: #0c1f34;
$primary-text-color: #ffffff;

// Shape //
$radius: 6px;
$shadow: 4px -4px 8px rgba(0, 0, 0, 0.5);

//Fonts-sizes
$text-size: 14px;

// Breakpoints //
$mobile: 450px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;

// Mobile: 360 x 640
// Mobile: 375 x 667
// Mobile: 360 x 720
// iPhone X: 375 x 812
// Pixel 2: 411 x 731
// Tablet: 768 x 1024
// Laptop: 1366 x 768
// High-res laptop or desktop: 1920 x 1080

:export {
  mobile: $mobile;
  tablet: $tablet;
  laptop: $laptop;
  desktop: $desktop;
  text-size: $text-size;
}
