// Colors //
$accent-color: #e33d01;
$accent-color-darker: #c83702;
$transparent-hover: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$primary-bg-color: #0c2745;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$transparent-bg-color: rgba(0, 0, 0, 0.5);

// Shape //
$radius: 6px;
$shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

//Fonts-sizes
$small-text-size: 14px;
$medium-text-size: 18px;
$large-text-size: 22px;

$mobile-h1: 32px;
$tablet-h1: 48px;
$desktop-h1: 56px;

$mobile-h2: 24px;
$tablet-h2: 32px;
$desktop-h2: 48px;

$mobile-h3: 18px;
$tablet-h3: 24px;
$desktop-h3: 32px;

$mobile-h4: 16px;
$tablet-h4: 20px;
$desktop-h4: 26px;

// Breakpoints //
$mobile: 450px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;
$large-desktop: 1920px;

// Mobile: 360 x 640
// Mobile: 375 x 667
// Mobile: 360 x 720
// iPhone X: 375 x 812
// Pixel 2: 411 x 731
// Tablet: 768 x 1024
// Laptop: 1366 x 768
// High-res laptop or desktop: 1920 x 1080

:export {
  mobile: $mobile;
  tablet: $tablet;
  laptop: $laptop;
  desktop: $desktop;
  large-desktop: $large-desktop;
  small-text: $small-text-size;
  medium-text: $medium-text-size;
  large-text: $large-text-size;
}
