@import '../../../styles/variables.module.scss';

.features_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	width: 90%;
	padding: 16px;
	background-color: $white;
	border-radius: 6px;
	box-shadow: $shadow;
	color: $secondary-text-color;
}