@import "../../styles/variables.scss";

.appHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;

  &_content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: $primary-bg-color;
  }
}
