@import "../../styles/variables.module.scss";

.appHeader {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  background-color: transparent;

  @media (min-width: $tablet) {
    padding: 10px;
  }
  &_content {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    background-color: $primary-bg-color;
    padding: 10px;
    @media (min-width: $tablet) {
      grid-template-columns: 0.7fr 3.3fr;
      border-radius: $radius;
    }
  }
}
