@import "../../styles/variables.module.scss";

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
