@import "../../../styles/variables.module.scss";

.navigation {
  display: flex;
  justify-content: flex-end;
  @media (min-width: $desktop) {
    justify-content: center;
  }

  &_list {
    display: flex;
  }
}
