@import "../../../styles/variables.module.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  &_title,
  &_description {
    margin-bottom: 40px;
  }
}
