@import "../../styles/variables.module.scss";
.langSwitcher {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  &_item {
    display: flex;
    padding: 4px;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    border-radius: $radius;
    &__orange {
      &:hover,
      &:focus {
        border: 2px solid $accent-color;
      }

      &_active {
        background-color: $accent-color;
      }
    }

    &__darkblue {
      &:hover,
      &:focus {
        border: 2px solid $primary-bg-color;
      }

      &_active {
        background-color: $primary-bg-color;
      }
    }
  }
  &_divider {
    margin: 0 4px;
  }
}
