@import "../../styles/variables.scss";
.langSwitcher {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  &_item {
    display: flex;
    padding: 4px;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    border-radius: $radius;

    &:hover {
      border: 2px solid $accent-color;
    }

    &__active {
      background-color: $accent-color;
    }
  }
  &_divider {
    margin: 0 4px;
  }
}
