@import "../../../styles/variables.scss";
.navigationItem {
  position: relative;
  display: flex;
  flex-direction: column;

  &_button {
    border: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    font: inherit;
    & svg {
      margin-left: 10px;
    }
  }

  &_underline {
    display: flexbox;
    align-self: center;
    width: 0%;
    height: 2px;
    background-color: transparent;
    border-radius: 1px;
    transition: width 250ms ease-in-out;
  }

  &_link {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    background-color: transparent;
    border-radius: 25px;
    transition: background-color 250ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $transparent-hover;

      & + .navigationItem_underline {
        width: 100%;
        max-width: 70%;
        background-color: $accent-color;
        transform-origin: center;
      }
    }
  }
}
