@import "../../../../styles/variables.module.scss";

.textPalette_item {
  display: grid;
  width: 100%;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr;

  &_thumb {
    position: relative;
    width: 50px;
    height: 50px;
    & img {
      width: 50px;
      height: 50px;
    }
  }

  &_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  &_title {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: $accent-color;
  }

  &_description {
  }
}
